@import url("https://fonts.googleapis.com/css?family=Indie+Flower|Rajdhani:400,700&display=swap");

$font-playful: "Indie Flower", cursive;
$font-serious: "Rajdhani", sans-serif;

$brown-light: #f1dbd3;
$brown-medium: #af968c;
$brown-medium-transparent: rgba(175, 150, 140, 0.6);
$brown-dark: #74262c;

//Generic elements
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: $font-playful;
  text-transform: uppercase;
  color: $brown-dark;
  overflow-x: hidden;
  text-align: center;
}

nav {
  position: fixed;
  top: 0;
  background-color: #fff;
  width: 100vw;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.5);
  cursor: default;
  padding: 0;
  z-index: 1;
  text-align: left;

  ul {
    list-style: none;
    padding-left: 4px;
  }

  li {
    display: inline-block;
  }

  a {
    display: block;
    padding: 6px;
    color: $brown-medium;
    text-decoration: none;

    &:hover {
      text-decoration: none;
      color: $brown-dark;
    }
  }
}

a {
  text-decoration: none;
  color: $brown-dark;

  &:hover {
    text-decoration: underline;
  }
}

p,
span {
  font-family: $font-serious;
}

p {
  text-transform: none;
  max-width: 800px;
  padding: 10px 30px;
  line-height: 1.5;
}

img {
  object-fit: cover;
  width: 100%;
  vertical-align: middle;
}

//Styling classes
.flex-row {
  display: flex;
}

//Specific classes
.copyright {
  font-family: $font-serious;
  font-size: 0.5em;
  grid-column-start: 5;
  text-align: right;
}

.main-content {
  margin-top: 30px;

  .main-content__section:nth-child(even) {
    background-color: $brown-light;
  }
}

.main-content__section {
  padding: 2% 0;
}

.main-content__section > *,
nav ul {
  margin: 0 auto;
  @media (min-width: 1200px) {
    max-width: 1200px;
  }
}

.gallery {
  display: grid;
  grid: {
    template-columns: 1fr 0.4fr 0.8fr 1fr 1fr;
    template-rows: 38% 0.3fr 1fr;
    gap: 4px;
    template-areas: "first second  third   fourth fifth" "first seventh seventh fourth fifth"
      "sixth seventh seventh eight  fifth";
  }
  place-content: center;
}

.gallery__image {
  position: relative;

  img {
    height: 100%;
  }
}

.gallery__image--1 {
  grid-area: first;
}

.gallery__image--4 {
  grid-area: fourth;
}

.gallery__image--5 {
  grid-area: fifth;
}

.gallery__image--7 {
  grid-area: seventh;
}

.image__caption {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: $brown-medium-transparent;
  opacity: 0;
  transition: opacity 200ms;
  &:hover {
    opacity: 1;
  }

  span {
    position: absolute;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    line-height: 1.2;
    font-size: calc(0.5vw + 7px);
    pointer-events: none;
  }
}

.image--vertical {
  width: 25%;
}

.image--horizontal {
  width: 50%;
}

.info-text {
  font-size: 0.8em;
}

.map iframe {
  max-width: 100%;
}
